<div class="container">
    <div class="container row col-12 text-center bg-fej" style="background-image: url('./assets/img/covid.jpg');">
        <h1>COVID</h1>
        <h3>Külkereskedelmi folyamatok 2020. január–május</h3>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-12 bg-torzs colored">
            <h3>Az ön általválasztott régióba található régiók adatai.</h3>
            <h3>Európai</h3>
            <p>
                Az európai országok exportteljesítményét tekintve az elmúlt hónapok során a termék-külkereskedelem általános visszaesését láthattuk. A járvány terjedésének hatására különböző korlátozó intézkedések léptek hatályba, és közben a keresleti feltételek is jelentős mértékben romlottak, így a járvány negatív gazdasági hatásai – a jelenleg rendelkezésre álló nemzetközi adatok alapján – a márciusi és az áprilisi külkereskedelmi adatokban érhetők tetten. Az európai országok közül a legjelentősebb mértékben a dél-európaiak termékexportja esett vissza. A márciusi, éves alapon mért 13,6%-os mérséklődést áprilisban 40,7%-os visszaesés követte. A visegrádi országok termékexportja is érdemi csökkenést mutatott, áprilisban 35%-kal esett vissza.
            </p>

            <img class="img-fluid" src="./assets/img/europa.png" />
            <br/>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th>Régió neve</th>
                        <th>Dátum</th>
                        <th>Százalékpont</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>-1 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>12.6 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>1.5 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>2 %</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>

