<div class="container">
    <div class="container row col-12 text-center bg-fej" style="background-image: url('./assets/img/covid.jpg');">
        <h1>COVID</h1>
        <h3>Külkereskedelmi folyamatok 2020. január–május</h3>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-12 bg-torzs colored">
            <h3>Az ön általválasztott régióba található régiók adatai.</h3>
            <h3>Világkereskedelem</h3>
            <a>A világkereskedelem jelentős mértékben visszaesett</a>
            <p>
                A világkereskedelem jelentős mértékben visszaesett „…2020 I. negyedévében a globális gazdasági folyamatok középpontjában a koronavírus okozta járvánnyal kapcsolatos intézkedések álltak. A járvány kiindulópontjának számító Kínában megtört a több évtizede tartó konjunktúra, és 2020 I. negyedévében 6,8%-kal csökkent a gazdaság teljesítménye. A világgazdaság legjelentősebb szereplőjének számító Egyesült Államokban 0,3%-ra lassult a növekedés üteme. A szűkebb környezetünket jelentő Európai Unióban (EU27) 2,6 %-kal csökkent a gazdaság teljesítménye.”
            </p>

            <img class="img-fluid" src="./assets/img/vilag.png" />
            <br />
            <a>Forrás: CPB Netherlands Bureau for Economic Policy Analysis, WorldTrade Monitor</a>
            <br/>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th>Régió neve</th>
                        <th>Dátum</th>
                        <th>Százalékpont</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>-1 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>12.6 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>1.5 %</td>
                    </tr>
                    <tr>
                        <td>Nyugat-Európa</td>
                        <td>2021-01-01</td>
                        <td>2 %</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>

